# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore IDE configurations
.idea/
.vscode/

# Ignore log files
*.log

# Ignore dist folder
dist/

# folder that we save the images that will be uploaded to the firebase in it temporarily 
tmp_uploads